<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.graduation.mapper.StudentMapper">

  <resultMap id="StudentMapper" type="com.ss.graduation.model.Student">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="getStudentList" resultType="com.ss.graduation.model.Student">
    select *
    from student
  </select>



</mapper>